html {
    box-sizing: border-box;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
}

.container {
    display: flex;
}

ul {
    color: #000000;
    font-size: 14px;
}