html {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #313131;
}

/* Header text */
h1 {
    color: #313131;
    text-align: center;
    letter-spacing: 3px;
}

/* Unordered list container */
ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    color: #313131;
}

/* List item "cards" */
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 300px;
    margin: 30px;
    list-style-type: none;
    border-radius: 3px;
    border: 1px inset #313131;
}

/* List item layered box shadows */
.card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
        0 5px 5px rgba(49, 49, 49, 0.3),
        0 8px 8px rgba(49, 49, 49, 0.3),
        0 25px 25px rgba(49, 49, 49, 0.2);
}

/* List item cards #1, #4, #7, etc. */
.card:nth-child(3n + 1) {
    background-color: #f9fafc;
}

/* List item cards #2, #5, #8, etc. */
.card:nth-child(3n + 2) {
    background-color: #f7d0cb;
}

/* List item cards #3, #6, #9, etc. */
.card:nth-child(3n + 3) {
    background-color: #313131;
    color: #f9fafc;
}

/* List item cards opacity */
.card:hover {
    opacity: 65%;
}

/* Container for book title and details inside book.info() function */
.book-entry {
    display: flex;
    flex-direction: column;
}

/* Book title text inside list items */
.book-title {
    width: 230px;
    height: 60px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 6px;
    margin-bottom: 30px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    line-height: 20px;
}

/* Additional book details inside list items */
.book-author,
.num-of-pages,
.read-or-unread {
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 25px;
}